<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Edit Your Profile</h1>
    <form action="" name="edit" , method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ form.csrf_token }}
            <table>
                <tr>
                    <td><label>{{ form.nickname.label }}</label></td>
                    <td>{{ form.nickname(size = 24) }}</td>
                </tr>
                <tr>
                    <td><label>{{ form.description.label }}</label></td>
                    <td>{{ form.description(cols = 32, rows = 4) }}</td>
                </tr>
                <tr>
                    <td><label>{{ form.image.label }}</label></td>
                    <td>{{ form.image() }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save Changes"></td>
                </tr>
            </table>
        </fieldset>
    </form>
{% endblock %}
