<p>Dear {{ user.nickname }},</p>
<p><a href="{{ url_for("user", username = follower.username, _external = True) }}">{{ follower.nickname }}</a> is now a
    follower.</p>
<table>
    <tr valign="top">
        <td><img src="{{ follower.get_imgpath() }}"></td>
        <td>
            <a href="{{ url_for('user', username = follower.username, _external = True) }}">{{ follower.nickname }}</a><br/>
            {{ follower.decription }}
        </td>
    </tr>
</table>
<p>Regards,</p>
<p>The <code>microblog</code> admin</p>
