<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="dologin" method="post" name="login">
        {{ form.csrf_token }}
        <p>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.username.label }}:
            {{ form.username(size=80) }}<br>
            {{ form.password.label }}:
            {{ form.password(size=80) }}<br>

        </p>
        <p><input type="submit" value="Sign In"></p>

    </form>
{% endblock %}
