<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.get_imgpath() }}" style="display: flex" width="150" height="150"></td>
            <td>
                <h1>User: {{ user.nickname }}</h1>
                {% if user.decription %}<p>{{ user.decription }}</p>{% endif %}
                {% if user.last_seen %}<p><i>Last seen on: {{ user.last_seen }}</i></p>{% endif %}
                {% if user.id == current_user.id %}<p><a href="{{ url_for('edit') }}">Edit</a></p>{% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% if posts %}
        <table>
            {% for post in posts %}
                {% include 'post_tmp.html' %}
            {% endfor %}
        </table>

    {% endif %}
{% endblock %}

